### REQUIRED INPUTS ###
NEXT_PUBLIC_APP_URI=<URL OF WEBPAGE>

OWNER_ID=<DISCORD USER ID OF MAIN ADMIN>
CLIENT_ID=<DISCORD CLIENT ID>
CLIENT_SECRET=<DISCORD CLIENT SECRET>

JWT_CODE=<RANDOM STRING>

MONGODB_URI=<MONGO CONNECTION URL>

MOVIE_API_KEY=<TMDB API KEY>

### ALLOWED USERS - Limit only certain discord users to log in###

#ALLOWED_USERS=<DISCORD USER IDS OF ALLOWED USERS IN STRING FORMAT: 218047950813659136,143699512790089729>

### DISCORD BOT ###

# Only uncomment these if you want to use the bot at https://github.com/mah51/scuffedmdb-bot
# WEBHOOK_URL=<WEBHOOK URL> 
# WEBHOOK_TOKEN=<WEBHOOK TOKEN>

#### CUSTOMISATIONS

# Uncomment to set the name of the webapp
# NEXT_PUBLIC_SITE_NAME=<NAME OF WEBSITE / DEFAULT IS SCUFFEDMDB>
# NEXT_PUBLIC_SHORT_SITE_NAME=<SHORT NAME OF WEBSITE / DEFAULT IS SMDB (for mobile etc.)>

# COLOR_THEME= purple (default) | red | orange | yellow | green | teal | blue | cyan | pink | gray 

