{
  "overrides": [
    {
      "files": ["*.test.js*"],

      "env": {
        "jest": true
      },

      "rules": {
        "jest/no-disabled-tests": "error",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/no-jest-import": "error",
        "jest/no-test-return-statement": "error",
        "jest/prefer-to-be-null": "warn",
        "jest/prefer-to-be-undefined": "warn",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-describe": "error",
        "jest/valid-expect": "error"
      }
    }
  ]
}
