html,
body,
#__next {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.borderRadius-2xl {
  border-radius: var(--chakra-radii-2xl);
}

.borderRadius-xl {
  border-radius: var(--chakra-radii-xl);
}

.borderRadius-md {
  border-radius: var(--chakra-radii-md);
}

.bouncing-arrow {
  -webkit-animation: bounce 2s ease-in-out;
  animation: bounce 2s ease-in-out;
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}

@-webkit-keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  60% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
}
